/* ************************************************************************** */
/* General overrides */

html, body { height: 100%; background-color: #34495e; }
body {
  font-family: 'Lato', sans-serif;

  .container {
    p  { color: #ecf0f1;}
    h1 { color: #ecf0f1; font-family: 'Roboto', sans-serif; }
    a { color: #2bbe68 !important; }
  }
}

/* ************************************************************************** */
/* Sticky Footer */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* Negative indent footer by it's height */
  margin: 0 auto -80px;

  p { font-size: 32px; }

  .container { padding-left: 0px; padding-right: 0px; position: relative;}
}

/* Set the fixed height of the push and footer here. */
#push {
  height: 80px;
}



/* ************************************************************************** */
/* Navigation Bar */

// position: relative declares a screen area for the element. Other elements will not intrude
// on the area unless they're positioned/manipulated to do that.
.navbar {
  position: relative;
}

.nav {
  margin-top: 20px; margin-bottom: 20px;

  ul {
    margin-top: 40px !important; font-size: 24px;
  }

  li > a {
    color: #fff; font-size: 30px;

    &:hover {
      background-color: inherit;
    }
  }
}

.navbar-header  {
  background-color: white;
  font-family: 'Lato', sans-serif;
  background-color: #2bbe68;
}

.navbar-collapse {
  background-color: white;
  height: 100px;
  font-family: 'Lato', sans-serif;
  background-color: #2bbe68;

  ul {
    display: block;
    text-align: center;
    width: 100%;

    li {
      text-align: center;
      display: inline-block;
      float: none;
    }
  }
}

.navbar-default {
  border: none;

  .navbar-nav {
    a:hover, a:focus {
      color: #fff !important;
    }

    .active {
      a, a:hover, a:focus {
        background-color: inherit;
        color: #fff !important;
        font-weight: bold;
      }
    }
  }
}

.navbar-toggle {
  border: none;

  &:hover, &:focus {
    background-color: none !important;
  }
}

.navbar-inner {
  box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;

  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
}


/* ************************************************************************** */
/* Footer Bar */

#footer {
  height: 79px;
  background-color: white;
  list-style: inside none;
  font-size: 14px;
  border: 0;
  border-top: 1px solid #eee;

  line-height: 45px;
  background-color: transparent; border-color: transparent;

  .container {
    margin-top: 15px; margin-bottom: 15px; margin: auto;
  }

  p {
    color: #fff !important;
  }

  icon {
    color: #fff; font-size: 24px; margin-left: 20px;
  }
}

.footer-information-right {
  text-align: right;
}


/* ************************************************************************** */
/* Responsive overrides */

@media (max-width: 992px) {
  #footer { text-align: center; }

  .footer-information-right {
    text-align: center;
  }

  #wrap {
    margin: 0 auto -160px;
  }
}
