<% content_for :header_tags do %>
  <style type = "text/css">
    a { color: #1abc9c;}
  </style>
<% end %>


<% content_for :content do %>
  <div class = "tile">
    <h1>Developer</h1>

    <div style = "font-size: 12px; margin-top: 50px;">

      Built with <a href = "http://twitter.github.io/bootstrap/">Bootstrap</a>, <a href = "http://designmodo.github.io/Flat-UI/">Flat UI</a>, and <a href = "http://subtlepatterns.com">Subtle Patterns</a>.
    </div>
  </div>
<% end %>