;;;
"title": "About Dmitri"
;;;

<div class = "header" style = "color: white;">
  <h1>Dmitri</h1>
  <p>Developer</p>
</div>


<div style = "max-width: 300px; margin: 0 auto 20px;">
  <a href = "http://www.linkedin.com/in/dmitriskj">
    <img src = "images/linkedin.png" alt = "Linkedin Logo" style = "height: 15%; width: 15%;">
  </a>

  <a href = "https://github.com/dman7">
    <img src = "images/github.png" alt = "GitHub Logo" style = "height: 15%; width: 15%;">
  </a>
</div>