;;;
"title": "Dmitri Skjorshammer, Software Consultant"
;;;

<p style = " text-align: center; margin-top: 20px;">I use technology to help software businesses make more money.</p>
<!-- <p style = "text-align: center; margin-top: 20px;">I work with web and mobile startups to solve problems using technology.</p> -->
<h1 style = " text-align: center;">Get in touch at <%= mail_to "me@dmitriskj.com", "me@dmitriskj.com", {:subject => "Hello", :target => "_blank"} %></h1>
